In [2]:
import csv
import re
import pandas as pd
import glob
import os
import xlsxwriter

base_path = '/Users/cathy/Desktop/EPOS/auto/07 July/17 July to 23 July'  # replace with your own path
input_file = os.path.join(base_path, 'master_mamagement_product_sales.csv') 
base_path_list = base_path.split('/')
prefix_file_name = base_path_list[-1]
output_file = os.path.join(base_path, prefix_file_name +'_cleaned_master_mamagement_product_sales.csv')



# Define a regular expression pattern to match symbols (=, ")
symbol_pattern = r'[^\'\w\s]'

# Open input and output files
with open(input_file, 'r') as csv_input, open(output_file, 'w', newline='') as csv_output:
    reader = csv.reader(csv_input)
    writer = csv.writer(csv_output)

    # Process each row in the input CSV
    for row in reader:
        # Remove symbols from the values in Column B, F, G, and U
        row[1] = re.sub(symbol_pattern, '', row[1])  # Column B
        row[5] = re.sub(symbol_pattern, '', row[5])  # Column F
        row[6] = re.sub(symbol_pattern, '', row[6])  # Column G
        row[20] = re.sub(symbol_pattern, '', row[20])  # Column U

        # def replace_text(text):
        #     return text.replace("Janes Departmental Store_443Pasir Ris", "Jane's Departmental Store_443Pasir Ris")

        # Write the updated row to the output CSV
        writer.writerow(row)

print("Symbols removed successfully. Output saved to", output_file)

Symbols removed successfully. Output saved to /Users/cathy/Desktop/EPOS/auto/07 July/17 July to 23 July/17 July to 23 July_cleaned_master_mamagement_product_sales.csv

In [3]:

###For compiling all csv to single file
import pandas as pd
import glob
import os
import xlsxwriter
pd.options.mode.chained_assignment = None  # default='warn'

path = base_path # use your path
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, dtype = str, index_col=None, header=0)
    li.append(df)
frame = pd.concat(li, axis=0, ignore_index=True)

print(frame)

       Transaction Date/Time                                          Outlet  \
0                  Sum Total                                             NaN
1           02/11/2024 22:40          Jane's Departmental Store_443Pasir Ris
2           02/11/2024 22:38          Jane's Departmental Store_443Pasir Ris
3           02/11/2024 22:35          Jane's Departmental Store_443Pasir Ris
4           02/11/2024 22:35          Jane's Departmental Store_443Pasir Ris
...                      ...                                             ...
210823      01/11/2024 07:26  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10
210824      01/11/2024 07:26  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10
210825      01/11/2024 07:26  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10
210826      01/11/2024 07:26  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10
210827      01/11/2024 07:26  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10

         Device Line Item Note                 Order Number  \
0           NaN            NaN                          NaN
1        JDS-T1            =""   JDS-T1_021124223852_987346
2        JDS-T1            =""   JDS-T1_021124223600_987345
3        JDS-T1            =""   JDS-T1_021124223328_987344
4        JDS-T1            =""   JDS-T1_021124223328_987344
...         ...            ...                          ...
210823  UYSL-T1            =""  UYSL-T1_011124072115_321148
210824  UYSL-T1            =""  UYSL-T1_011124072115_321148
210825  UYSL-T1            =""  UYSL-T1_011124072115_321148
210826  UYSL-T1            =""  UYSL-T1_011124072115_321148
210827  UYSL-T1            =""  UYSL-T1_011124072115_321148

                               Product Name            SKU  \
0                                       NaN            NaN
1                             Camel Filters       40329055
2        Viceroy Hokkaido Mint Purple Boost  8888075029216
3                              coconutjuice  8888001789757
4                                OPEN PRICE           OPEN
...                                     ...            ...
210823                              Zao Bao  8887181600036
210824                            CAMEL 20S       40329055
210825                        Straits Times  8887181201615
210826   VICEROY HOKKAIDO MINT PURPLE BOOST  8888075029216
210827  REDBULL SPARKING MUSCAT GRAPE 250ML  8850228008058

       Product Description         QTY Adjustment  ... Cashier Sales Person  \
0                      NaN  100924.445   -3396.77  ...     NaN          NaN
1                      =""       1.000       0.00  ...    jane         jane
2                      =""       3.000       0.00  ...    jane         jane
3                      =""       1.000       0.00  ...    jane         jane
4                      =""       1.000       0.00  ...    jane         jane
...                    ...         ...        ...  ...     ...          ...
210823                 =""       4.000       0.00  ...    YSL1         YSL1
210824                 =""       1.000       0.00  ...    YSL1         YSL1
210825                 =""       3.000       0.00  ...    YSL1         YSL1
210826                 =""       1.000       0.00  ...    YSL1         YSL1
210827                 =""       1.000       0.00  ...    YSL1         YSL1

       Customer Customer Code Customer Phone Membership Type Order Status  \
0           NaN           NaN            NaN             NaN          NaN
1           NaN           =""            =""             =""    Completed
2           NaN           =""            =""             =""    Completed
3           NaN           =""            =""             =""    Completed
4           NaN           =""            =""             =""    Completed
...         ...           ...            ...             ...          ...
210823      NaN           =""            =""             =""    Completed
210824      NaN           =""            =""             =""    Completed
210825      NaN           =""            =""             =""    Completed
210826      NaN           =""            =""             =""    Completed
210827      NaN           =""            =""             =""    Completed

       Order Note Recommendation                         Organization
0             NaN            NaN                                  NaN
1             =""            NaN  JANE'S DEPARTMENTAL STORE PTE. LTD.
2             =""            NaN  JANE'S DEPARTMENTAL STORE PTE. LTD.
3             =""            NaN  JANE'S DEPARTMENTAL STORE PTE. LTD.
4             =""            NaN  JANE'S DEPARTMENTAL STORE PTE. LTD.
...           ...            ...                                  ...
210823        =""            NaN                YEO SOON LAI MINIMART
210824        =""            NaN                YEO SOON LAI MINIMART
210825        =""            NaN                YEO SOON LAI MINIMART
210826        =""            NaN                YEO SOON LAI MINIMART
210827        =""            NaN                YEO SOON LAI MINIMART

[210828 rows x 33 columns]

In [4]:
pd.options.mode.chained_assignment = None  # default='warn'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, dtype = str, index_col=None, header=0)
    li.append(df)
frame = pd.concat(li, axis=0, ignore_index=True)

print(frame)

       Transaction Date/Time                                          Outlet  \
0                  Sum Total                                             NaN
1           02/11/2024 22:40          Jane's Departmental Store_443Pasir Ris
2           02/11/2024 22:38          Jane's Departmental Store_443Pasir Ris
3           02/11/2024 22:35          Jane's Departmental Store_443Pasir Ris
4           02/11/2024 22:35          Jane's Departmental Store_443Pasir Ris
...                      ...                                             ...
210823      01/11/2024 07:26  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10
210824      01/11/2024 07:26  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10
210825      01/11/2024 07:26  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10
210826      01/11/2024 07:26  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10
210827      01/11/2024 07:26  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10

         Device Line Item Note                 Order Number  \
0           NaN            NaN                          NaN
1        JDS-T1            =""   JDS-T1_021124223852_987346
2        JDS-T1            =""   JDS-T1_021124223600_987345
3        JDS-T1            =""   JDS-T1_021124223328_987344
4        JDS-T1            =""   JDS-T1_021124223328_987344
...         ...            ...                          ...
210823  UYSL-T1            =""  UYSL-T1_011124072115_321148
210824  UYSL-T1            =""  UYSL-T1_011124072115_321148
210825  UYSL-T1            =""  UYSL-T1_011124072115_321148
210826  UYSL-T1            =""  UYSL-T1_011124072115_321148
210827  UYSL-T1            =""  UYSL-T1_011124072115_321148

                               Product Name            SKU  \
0                                       NaN            NaN
1                             Camel Filters       40329055
2        Viceroy Hokkaido Mint Purple Boost  8888075029216
3                              coconutjuice  8888001789757
4                                OPEN PRICE           OPEN
...                                     ...            ...
210823                              Zao Bao  8887181600036
210824                            CAMEL 20S       40329055
210825                        Straits Times  8887181201615
210826   VICEROY HOKKAIDO MINT PURPLE BOOST  8888075029216
210827  REDBULL SPARKING MUSCAT GRAPE 250ML  8850228008058

       Product Description         QTY Adjustment  ... Cashier Sales Person  \
0                      NaN  100924.445   -3396.77  ...     NaN          NaN
1                      =""       1.000       0.00  ...    jane         jane
2                      =""       3.000       0.00  ...    jane         jane
3                      =""       1.000       0.00  ...    jane         jane
4                      =""       1.000       0.00  ...    jane         jane
...                    ...         ...        ...  ...     ...          ...
210823                 =""       4.000       0.00  ...    YSL1         YSL1
210824                 =""       1.000       0.00  ...    YSL1         YSL1
210825                 =""       3.000       0.00  ...    YSL1         YSL1
210826                 =""       1.000       0.00  ...    YSL1         YSL1
210827                 =""       1.000       0.00  ...    YSL1         YSL1

       Customer Customer Code Customer Phone Membership Type Order Status  \
0           NaN           NaN            NaN             NaN          NaN
1           NaN           =""            =""             =""    Completed
2           NaN           =""            =""             =""    Completed
3           NaN           =""            =""             =""    Completed
4           NaN           =""            =""             =""    Completed
...         ...           ...            ...             ...          ...
210823      NaN           =""            =""             =""    Completed
210824      NaN           =""            =""             =""    Completed
210825      NaN           =""            =""             =""    Completed
210826      NaN           =""            =""             =""    Completed
210827      NaN           =""            =""             =""    Completed

       Order Note Recommendation                         Organization
0             NaN            NaN                                  NaN
1             =""            NaN  JANE'S DEPARTMENTAL STORE PTE. LTD.
2             =""            NaN  JANE'S DEPARTMENTAL STORE PTE. LTD.
3             =""            NaN  JANE'S DEPARTMENTAL STORE PTE. LTD.
4             =""            NaN  JANE'S DEPARTMENTAL STORE PTE. LTD.
...           ...            ...                                  ...
210823        =""            NaN                YEO SOON LAI MINIMART
210824        =""            NaN                YEO SOON LAI MINIMART
210825        =""            NaN                YEO SOON LAI MINIMART
210826        =""            NaN                YEO SOON LAI MINIMART
210827        =""            NaN                YEO SOON LAI MINIMART

[210828 rows x 33 columns]

In [5]:
# ### filter dates
# date_frame=frame[frame['Transaction Date/Time'].str.contains("02/01/2023|03/01/2023|04/01/2023|05/01/2023|06/01/2023|07/01/2023|08/01/2023")]

# ###dropping unimportant columns
# imp_df=date_frame[["Outlet", "Product Name", "SKU", "QTY", "Product Category"]]

chosen = ["Outlet", "Product Name", "SKU", "QTY", "Product Category"]
imp_df = frame[chosen]
#print(imp_df)

# ###filtering tobacco and related categories
# category_filter = ['PMS Tobacco','JTI Tobacco','SUTLSM Tobacco', 'MISC Tobacco', 'Tobacco','TOBACCO', 'TOBACCO ACC','CIGARETTE','Cigarette', 'Cigarettes','DUNHILL CIG','MARLBORO CIG','SALEM CIG','JTI','PMS','Cigarette (Carton)','Cigarette (Packet)','PMS MARLBORO','BAT','*Cigarettes']
# tobacco_df=imp_df[imp_df['Product Category'].isin(category_filter)]




# Filter out rows containing 'tobacco' (case-insensitive)
tobacco_df = imp_df[imp_df["Product Category"].str.contains("tobacco", case=False, na=False)]

# Display the filtered DataFrame
print(tobacco_df)

                                                Outlet  \
1496                   Lim Thiong Beng 304 Jurong East
1502                   Lim Thiong Beng 304 Jurong East
1517                   Lim Thiong Beng 304 Jurong East
1529                   Lim Thiong Beng 304 Jurong East
1542                   Lim Thiong Beng 304 Jurong East
...                                                ...
210815  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10
210817  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10
210820  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10
210824  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10
210826  U Mart Yeo Soon Lai Minimart_554 Ang Mo Kio 10

                              Product Name            SKU    QTY  \
1496                   CAMEL FILTERS LONGS  8885015431054  1.000
1502                  WINSTON BLUE BOX 20S       01231932  1.000
1517                    CAMEL FILTERS 20'S       40329055  1.000
1529              MARLBORO MENTHOL BOX 20S       02812726  2.000
1542                        LD RED BOX 20S  8885004830004  1.000
...                                    ...            ...    ...
210815                  CAMEL FILTERS LONG  8885015431054  1.000
210817    VICEROY HOKKAIDO MINT BLUE BOOST  8888075019552  1.000
210820             MARLBORO LIGHTS BOX 20S       02886925  2.000
210824                           CAMEL 20S       40329055  1.000
210826  VICEROY HOKKAIDO MINT PURPLE BOOST  8888075029216  1.000

       Product Category
1496            Tobacco
1502            Tobacco
1517            Tobacco
1529            Tobacco
1542            Tobacco
...                 ...
210815          Tobacco
210817          Tobacco
210820          Tobacco
210824          Tobacco
210826          Tobacco

[41202 rows x 5 columns]

In [6]:
###clean up data for outlet and add Barcode column
tobacco_df.insert(loc=1,column="Barcode",value=tobacco_df['SKU'])
tobacco_df['Outlet'] = tobacco_df['Outlet'].str.replace("U Mart ",'')
tobacco_df['QTY']=pd.to_numeric(tobacco_df['QTY'])

###create pivot table
import numpy as np
table=pd.pivot_table(tobacco_df,index=['Barcode'],columns=['Outlet'],values=['QTY'],aggfunc=np.sum)
table.loc['Total',:]= table.sum(axis=0)
table.loc[:,'Total'] = table.sum(axis=1)

table.columns = table.columns.droplevel(0)
table = table.reset_index().rename_axis(None, axis=1)
#table.insert(loc=0,column= "Name",value='')


##remove duplicate SKU in tobacco table and merge to pivot table + Sort by name. 
tobacco_df1= tobacco_df.drop_duplicates(subset=['SKU'])
tobacco_df1=tobacco_df1[["Barcode","Product Name"]]
table=table.merge(tobacco_df1, on='Barcode', how='left').set_axis(table.index)
prod = table["Product Name"]
table.drop(labels=["Product Name"], axis=1,inplace = True)
table.insert(0, "Product Name", prod)
table=table.sort_values(by="Product Name")

print(table)

                        Product Name        Barcode  \
168                  235 MENTHOL 20S  8885001094072
166                      235 RED 20S  8885001094058
167                     235 red 200S  8885001094065
240             450 BAPU BEEDI88 20S  8886440600206
32                501 GANESH BEDDIES  2220000001762
..                               ...            ...
8            WINSTON FLITERS 20SCold      01231233C
39    ZIG  ZAG SLIM FILTERS 150 TIPS  3057068017782
40                           ZIG ZAG  3057068061105
38   ZIGZAG CIGARETTE ROLLING PAPERS       30055933
772                              NaN          Total

     632 Family Store_Amk Ave 4  ="632 Family Store_Amk Ave 4"  \
168                         NaN                            NaN
166                         8.0                            NaN
167                         NaN                            NaN
240                         2.0                            NaN
32                          NaN                            NaN
..                          ...                            ...
8                           NaN                            NaN
39                          NaN                            NaN
40                          NaN                            NaN
38                          NaN                            NaN
772                      1926.0                          963.0

     ="Active Express Mart_731 Yishun St 72"  \
168                                      NaN
166                                      NaN
167                                      NaN
240                                      NaN
32                                       NaN
..                                       ...
8                                        NaN
39                                       NaN
40                                       NaN
38                                       NaN
772                                    623.0

     ="Active Minimart_30 Tampines St 33"  \
168                                   NaN
166                                   NaN
167                                   NaN
240                                   NaN
32                                    NaN
..                                    ...
8                                     NaN
39                                    NaN
40                                    NaN
38                                    NaN
772                                 196.0

     ="Active Supermarket_36 Circuit Rd"  ="Anchorvale Minimart 303"  \
168                                  NaN                         NaN
166                                  NaN                         NaN
167                                  NaN                         NaN
240                                  NaN                         NaN
32                                   NaN                         NaN
..                                   ...                         ...
8                                    NaN                         NaN
39                                   NaN                         NaN
40                                   NaN                         NaN
38                                   NaN                         NaN
772                               2515.0                       430.0

     ="Anchorvale Minimart_267 Compassvale Link"  \
168                                          NaN
166                                          NaN
167                                          NaN
240                                          NaN
32                                           NaN
..                                           ...
8                                            NaN
39                                           NaN
40                                           NaN
38                                           NaN
772                                        497.0

     ="Bepoh Provision Store_61 Telok Blangah Heights"  ...  \
168                                                NaN  ...
166                                                NaN  ...
167                                                NaN  ...
240                                                NaN  ...
32                                                 NaN  ...
..                                                 ...  ...
8                                                  NaN  ...
39                                                 NaN  ...
40                                                 NaN  ...
38                                                 NaN  ...
772                                               80.0  ...

     Seng Hup Foo Pte Ltd_7 Jalan Bukit Merah  \
168                                       NaN
166                                       NaN
167                                       NaN
240                                       NaN
32                                        NaN
..                                        ...
8                                         NaN
39                                        NaN
40                                        NaN
38                                        NaN
772                                     156.0

     Shopmore Grocery_168 Lor 1 Toa Payoh  Teck Guan  Co_77 Telok Blangah Dr  \
168                                   NaN                                NaN
166                                   NaN                                NaN
167                                   NaN                                NaN
240                                   NaN                                NaN
32                                    NaN                                NaN
..                                    ...                                ...
8                                     NaN                               28.0
39                                    NaN                                NaN
40                                    NaN                                NaN
38                                    NaN                               12.0
772                                 950.0                             1020.0

     Teck Huat Toh Kee_KIM KEAT PALM  \
168                              6.0
166                              NaN
167                              NaN
240                              6.0
32                               NaN
..                               ...
8                                NaN
39                               NaN
40                               NaN
38                               NaN
772                            916.0

     Welcome MiniMart Pte Ltd_308 Anchorvale Rd  \
168                                         NaN
166                                         NaN
167                                         NaN
240                                         NaN
32                                          NaN
..                                          ...
8                                           NaN
39                                          NaN
40                                          NaN
38                                          NaN
772                                      1000.0

     Xin Shun Fa Minimart_22 Sin Ming Rd  \
168                                  NaN
166                                  NaN
167                                  NaN
240                                  NaN
32                                   NaN
..                                   ...
8                                    NaN
39                                   NaN
40                                   NaN
38                                   NaN
772                               1762.0

     Yeo Soon Lai Minimart_554 Ang Mo Kio 10  Yew Guan_443 Ang Mo Kio Ave 10  \
168                                      NaN                             NaN
166                                      NaN                             NaN
167                                      NaN                             NaN
240                                      NaN                             NaN
32                                       NaN                             NaN
..                                       ...                             ...
8                                        NaN                             NaN
39                                       NaN                             NaN
40                                       NaN                             2.0
38                                       NaN                             NaN
772                                    510.0                          1062.0

     Yong Teck Seng_Bendemeer Ville
168                             NaN     16.0
166                             NaN     28.0
167                             NaN      4.0
240                             NaN     10.0
32                              NaN      2.0
..                              ...      ...
8                               NaN     34.0
39                              NaN      2.0
40                              NaN      2.0
38                              NaN     28.0
772                           102.0  64236.0

[773 rows x 79 columns]

/var/folders/2g/px57k8dx6_n_1snd0dtm_6lw0000gn/T/ipykernel_44181/227288730.py:8: FutureWarning: The provided callable <function sum at 0x1103ef560> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  table=pd.pivot_table(tobacco_df,index=['Barcode'],columns=['Outlet'],values=['QTY'],aggfunc=np.sum)

In [7]:
###export to .xlsx file
out_path = os.path.join(base_path, prefix_file_name +'_sales_report.xlsx')  ## Use your own path \file_name.xlsx
writer = pd.ExcelWriter(out_path , engine='xlsxwriter')
table.to_excel(writer, sheet_name='pivot table', index = False)
#tobacco_df.to_excel(writer, sheet_name= 'Tobacco Data', index = False)
writer.close()